body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #e1d5e2;
}

.container {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 30rem;
  padding: 35px 35px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  background-color: #f1f1f1;
}

.link-btn {
  display: inline-block;
  background: #a0c4e0;
  color: #1b6cb2;
  font-size: 1.5rem;
  padding: 20px 25px;
  border: 1px solid black;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in-out;
}

.link-btn:hover {
  opacity: 0.9;
  background: #1b6cb2;
  color: #a0c4e0;
  text-decoration: none;
}
